@model IEnumerable<PlantPlanner.ViewModels.PlantListItemViewModel>



@{
    ViewData["Title"] = "Plants";
}

<h1>Plants</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add plant</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Light</th>
            <th>Days until it needs water</th>
            <th>Watering</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>@item.Light</td>
                <td>@item.WaterIntervalDays</td>
                <td>@item.WateringMessage</td>
                <td>@item.Location</td>
                <td>@item.SoilName</td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="WateringLogs"
                       asp-action="Index"
                       asp-route-plantId="@item.Id">
                        History
                    </a> |

                    <form asp-action="Water"
                          asp-route-id="@item.Id"
                          method="post"
                          style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-success">
                            Watered today
                        </button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>
